* {
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    background-color: #edf2f4;
}

  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    height: 500px;
    padding: 50px;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/about/team.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    margin-bottom: 10px;
  }
  

  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }

  h2 {
    margin-bottom: 20px;
  }

  .faq-text {
    margin: 10px;
  }
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: 444;
    background-color: #eee;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  .faq {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    margin: 15px;
  }
  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }

  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  .second-section {
    width: 85%;
    margin: 0 auto;
  }
  #myInput {
    background-position: 10px 12px; 
    background-repeat: no-repeat; 
    width: 100%; 
    font-size: 16px; 
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd; 
    margin-bottom: 12px; 
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }

    .about-section {
        height: 300px;
    }
  }