/* main style */
body{
    box-sizing: border-box;
    height: 100%;
    transition: ease-out 0.5s;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    background-color: rgb(238, 238, 238);
    font-family: 'Oxygen', sans-serif;
    z-index: -1;
    transition: ease-out 0.5s;
}

.frame{
    width: 95%;
    height: 98%;
    display: grid;
    grid-template-rows: repeat(50, 2%);
    grid-template-columns: repeat(50, 2%);
}
.frame img{
    max-width: 100%;
    height: auto;
}
.frame div{
    border-style: solid;
    border-width: 1px;
    border-color: white;
    text-align: center;
    letter-spacing: 1px;
}
.frame div a{
    background-color: rgba(44, 44, 44, 0);
    transition: ease-out 0.5s;
    width: 100%;
    height: 100%;
}
.frame div a:hover{
    background-color: rgba(44, 44, 44, 0.603);
    /* transition: ease-out 0.5s; */
}
h1{
    grid-area: 1 / 1 / 7 / 30;
    margin: 2% 0;
}
h1 #headLastWord{
    color: red;
    display: inline;
    border: none;
}
h2{
    margin-bottom: 3%;
}
.img-1{
    grid-area: 7 / 1 / 33 / 18;
    background: url("../images/Events/Van_Gogh.jpg");
}
.img-2{
    grid-area: 7 / 18 / 25 / 30;
    background: url("../images/Events/creatures_book.jpg");
    background-position-x: center;
    background-position-y: 60%;
    background-repeat: no-repeat;
    font-size: 0.9em;
}
.img-3{
    grid-area: 25 / 18 / 51 / 30;
    background: url("../images/Events/mummy.jpg");
    background-position-y: 10%;
}
.img-4{
    grid-area: 33 / 1 / 51 / 18;
    background: url("../images/Events/aga_khan.jpg"); 
    background-position-x: 40%;
    background-position-y: 60%;
}
.img-5{
    grid-area: 7 / 40 / 23 / 51;
    background: url("../images/Events/lim.jpg");
    background-position-x: 20%;
    background-position-y: 10%;
}
.img-6{
    grid-area: 23 / 40 / 38 / 51;
    background: url("../images/Events/trail.jpg");
    background-position-x: 20%;
    background-position-y: 85%;
}
.img-7{
    grid-area: 38 / 40 / 51 / 51;
    background: url("../images/Events/station.jpg");
    background-position-x: 20%;
    background-position-y: 65%;
}
.img-8{
    grid-area: 7 / 30 / 51 / 40;
    background: url("../images/Events/HIL.jpg");
    background-repeat: no-repeat;
    background-position-x: 20%;
    background-position-y: 65%;
}
.eventLink{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-decoration: none;
    color: white;
}
footer{
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/*Style for page's themes*/
.frame input[type="checkbox"]{
    visibility: hidden;
    display: none;
}
.frame .check{
    display: block;
    width: 40px;
    height: 20px;
    background-color: #303030;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease 0.5s;
    position: absolute;
    top: 100px;
    right: 40px;
}
.frame input[type="checkbox"]:checked ~ .check{
    background-color: rgb(238, 238, 238);
}
.check::before{
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: black;
    box-shadow: inset 0 0 2px 1px white;
    width: 16px;
    height: 16px;
    border-radius: 15px;
    transition: 0.5s;
}
.frame input[type="checkbox"]:checked ~ .check::before{
    transform: translateX(20px);
    background-color: white;
    box-shadow: inset 0 0 2px 1px black;
}

.dark .nestedMenu > ul,
.dark .topnav ul div{
    background-color: #282828;
}
.dark header{
    background-color: #282828;
}
.dark header .topnav ul li a p, .dark main .frame h1,
.dark header .topnav ul .nested{
    color: white;
}
.dark header .topnav ul li a .active p{
    color: red;
}
.dark .topnav ul div:hover{
    background-color: #303030;
}

.dark main, .dark{
    background-color: #3f3f3f;
    transition: ease-out 0.5s;
}

/* Style cards with descriptions */

/* element that contains both image and description */
.frame div .card_inner{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

/* image */
.frame div .card_inner .card_face--front{
    width: 100%;
    height: 100%;
}

.frame div .card_inner .card_face--front a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

/* description */
.frame div .card_inner .card_face--back{
    width: 100%;
    height: 100%;
    position: relative;
    top: -100%;
    text-align: center;
    transform: translateZ(20px) scaleY(0);
    transform-origin: bottom;
    transition: 0.5s;
    transform-style: preserve-3d;
    border: none;
}
.frame div .card_inner .card_face--back a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.frame div .card_inner .card_face--back a p{
    font-size: 0.8em;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    margin-top: 12%;
}

/*Adjust description*/
.frame .img-1 .card_inner .card_face--back a p,
.frame .img-2 .card_inner .card_face--back a p,
.frame .img-3 .card_inner .card_face--back a p,
.frame .img-4 .card_inner .card_face--back a p,
.frame .img-5 .card_inner .card_face--back a ,
.frame .img-8 .card_inner .card_face--back a p{
    font-size: 1.1em;
}
/*display description when hover*/
.frame div .card_inner:hover .card_face--back{
    transform: translateZ(20px) scaleY(1);
}

/*Responsive*/
@media screen and (max-height: 820px) {
    footer {
        height: 6%;
        padding-bottom: 0.3%;
    }
    .frame{
        height: 95%;
    }
}
@media screen and (max-width: 1196px) {
    .frame .check{
        top: 85px;
    }
}
@media screen and (max-width: 970px) {
    main{
        font-size: 0.8em;
        height: 86.3%;
    }
    h1{
        grid-area: 1 / 1 / 6 / 30;
        margin: 2% 0;
    }
    .img-1{
        grid-area: 6 / 1 / 31 / 18;
    }
    .img-4{
        grid-area: 31 / 1 / 51 / 18; 
    }
    .img-2{
        grid-area: 6 / 18 / 25 / 30;
    }
    .img-5{
        grid-area: 6 / 40 / 23 / 51;
    }
    .img-8{
        grid-area: 6 / 30 / 51 / 40;
    }
}
@media screen and (max-width: 900px) {
    main{
        padding-top: 50px;
    }
    html{
        height: 125vh;
    }
    footer{
        bottom: -25%;
    }
}

@media screen and (max-width: 750px) {
    main{
        font-size: 0.65em;
    }
    h1{
        grid-area: 1 / 1 / 4 / 35;
    }
    .frame .check{
        top: 65px;
    }
    .img-1{
        grid-area: 4 / 1 / 20 / 20;
    }
    .img-2{
        grid-area: 4 / 20 / 20 / 35;
    }
    .img-3{
        grid-area: 20 / 20 / 35 / 35;
    }
    .img-4{
        grid-area: 20 / 1 / 35 / 20;
    }
    .img-5{
        grid-area: 35 / 1 / 51 / 17;
    }
    .img-6{
        grid-area: 35 / 17 / 51 / 34;
    }
    .img-7{
        grid-area: 35 / 34 / 51 / 51;
    }
    .img-8{
        grid-area: 4 / 35 / 35 / 51;
    }
}

@media screen and (max-width: 680px) {
    .frame div .card_inner:hover .card_face--back{
        transform: translateZ(20px) scaleY(0);
    }
}

@media screen and (max-width: 480px) {
    .img-1{
        grid-area: 4 / 1 / 15 / 25;
    }
    .img-2{
        grid-area: 4 / 25 / 15 / 51;
    }
    .img-3{
        grid-area: 15 / 25 / 30 / 51;
    }
    .img-4{
        grid-area: 15 / 1 / 30 / 25;
    }
    .img-5{
        grid-area: 30 / 1 / 41 / 25;
    }
    .img-6{
        grid-area: 30 / 25 / 41 / 51;
    }
    .img-7{
        grid-area: 41 / 1 / 51 / 20;
    }
    .img-8{
        grid-area: 41 / 20 / 51 / 51;
    }
}
@media screen and (max-width: 390px) {
    h1{
        grid-area: 1 / 1 / 4 / 51;
        font-size: 1.6em;
    }
    .frame .check{
        right: 5px;
    }
    .img-1{
        grid-area: 4 / 1 / 10 / 51;
    }
    .img-2{
        grid-area: 10 / 1 / 16 / 51;
    }
    .img-3{
        grid-area: 16 / 1 / 22 / 51;
    }
    .img-4{
        grid-area: 22 / 1 / 28 / 51;
    }
    .img-5{
        grid-area: 28 / 1 / 34 / 51;
    }
    .img-6{
        grid-area: 34 / 1 / 40 / 51;
    }
    .img-7{
        grid-area: 40 / 1 / 46 / 51;
    }
    .img-8{
        grid-area: 46 / 1 / 51 / 51;
    }
}