* {
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
  width: 100%;
}
body{
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  background-color: #edf2f4;
}
header{
  z-index: 1;
  box-sizing: border-box;
  height: 8%;
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: left;
  border-bottom: 1px solid black;
  background-color: white;
  font-size: 0.9em;
}
header #logo{
  margin-left: 15px;
  margin-top: 3px;
}
header .topnav{
  height: 100%;
  box-sizing: border-box;
  flex: 7;
  z-index: 2;
}
.mobile_version {
  display: none;
}
.topnav ul{
  list-style-type: none;
  display: flex;
  align-items: stretch;
  justify-content: left;
  height: 100%;
  width: 60%;
  z-index: 2;
  float: left;
}
.topnav ul li{
  flex: 1;
  z-index: 2;
}
.topnav ul .nested {
  display: none;
}
.topnav ul li ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  justify-content: stretch;
  height: 400%;
  width: 100%;
  display: none;
}

.topnav ul li ul li{
  margin: 0;
  height: 50px;
}

.topnav ul li ul li a{
  width: 100%;
}
.topnav ul li ul li:first-child{
  border-top-style: solid;
  border-top-color: black;
  border-top-width: 1px;
}
.nestedMenu:hover > ul{
  display: flex;
  background-color: white;
  z-index: 2;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 700;
  font-family: "Titillium Web";
  text-align: center;
  padding: 0;
  display: block;
  height: 100%;
  width: 100%;
}
.topnav a div{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: 300;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  padding: 0 30px;

}
.nestedMenuItem {
  display: none;
}
.checkbtn {
  display: none;
}
#check{
  display: none;
}
.topnav a:hover{
  background-color: rgb(230, 230, 230);
}
.topnav .active {
  color: red;

}

footer {
  background-color: #282828;
  color: white;
  text-align: right;
  padding: 8px 5px 0px 5px;
  font-family: "Titillium Web";
  height: 48px;
  margin-top: 15px;
  margin: 0;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  justify-content: center;
}

.website_name {
  border: 1px solid #fff;
  padding: 1px 4px 1px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.copyright {
  padding: 0.1%;
  text-align: center;
  font-size: 10px;
  margin-top: 0.1%;
}


@media screen and (max-width: 1196px) {
  header{
    height: 38px;
  }
  header #logo{
    width: 150px;
    height: auto;
  }
  header #logo p{
    font-size: 1.2em;
  }
  .topnav a div{
    font-size: 0.9em;
    padding: 0 15px;
  }
}

@media screen and (max-width: 970px){
  footer{
    width: 100%;
  } 
}

@media screen and (max-width: 900px){
  .mobile_version {
    display: block;
  }
  .checkbtn{
    font-size: 20px;
    color: #9C1A26;
    float: right;
    margin-right: 20px;
    margin-top: 13px;
    cursor: pointer;
    display: block;
  }
  #check{
    display: none;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 93%;
    width: 100%;
  }
  #logo img{
    width: 100px;
  }
  .topnav ul{
    position: fixed;
    width: 100%;
    height: 94%;
    top: 6%;
    left: -110%;
    bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    transition: all .5s;
  }
  .topnav ul .nested {
    display: flex;
  }
  .topnav ul div{
    width: 100vw;
    text-align: center;
    z-index: 2;
    background-color: white;
  }
  .topnav ul div:hover{
    background-color: #ddd;
  }
  #check:checked~ul{
    left: 0;
  }
  .topnav .navOdd{
    background-color: white;
    height: 100%;
  }
  .topnav .navEven{
    background-color: white;
    height: 100%;
  }
  .nestedMenu{
    display: none;
  }
  .nestedMenuItem{
    display: inline-flex;
  }
  .nestedMenuItem .active{
    color: red;
  }
  .nestedMenuItem a div:hover{
    background-color: #ddd;
  }
}

@media screen and (max-width: 320px){
  .signup .signup__title a {
    font-size: 10px;
  }
  .copyright {
    font-size: 8px;
  }
  footer{
    padding-top: 1px;
    padding-bottom: 1px;
  }
}