.header-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/placestogo/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-size: cover;
    max-width: 100%;
    height: 40vw;
}

.centered {
    color: white;
    font-size: 4vw;
    text-align: center;
    padding-top: 3.5em;
}

.name {
    color: red;
}
.container {
    width: 85%;
    margin: 0 auto;
}

.section {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
}
.search {
    display: flex;
}

#search {
    flex-grow: 8;
    height: 30px;
}

#btn {
    flex-grow: 1;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    margin: 20px 0px 0px 0px;
    font-size: 2em;
    color: red;
    font-weight: bolder;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: auto;
}

.view-all {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.view-all a {
    margin-top: 40px;
    text-decoration: none;
}

.photo-section {
    max-width: 100%;
}

.grid-item {
    border: 0.5px solid grey;
    margin: 10px;
    border-radius: 0px 0px 10px 10px;
}

.grid-item:hover {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    animation-name: example;
    animation-duration: 0.25s;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.text-description {
    padding: 10px;
}

.email-section {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.5fr 2fr;
}

.email-section img {
    max-width: 85%;
}

.email-section h2 {
    grid-column: 1 / 3;
}

#account-information {
    align-self: center;
}

fieldset {
    padding: 20px;
}

label {
    margin-right: 10px;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
}

.btn-item {
    grid-column: 1 / span 3;
    justify-self: center;
    width: 150px;
    height: 30px;
    margin-top: 10px;
}

@media screen and (max-width: 767px) {
    .header-section {
        width: 100%;
        height: 40vh;
    }

    .centered {
        font-size: 4vw;
        text-align: center;
        padding-top: 2m;
    }
    .title-section {
        font-size: 1.5em;
    }
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, minmax(100px, 1fr))
    }
    .email-section h2 {
        grid-column: 1;
    }

    .email-section {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 2fr;
    }

    .email-section img {
        max-width: 100%;
    }
}